/* your styles go here */
.org-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recognition-title {
    font-weight: 200;
    margin-bottom: 50px;
}

@media (max-width: 1100px) {
    .org-container {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .org-logo {
        margin: 20px;
    }

    .recognition-title {
        font-size: 25px;
        }
}
.all-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 100px 100px;
}

.description {
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
.faqs {
    display: flex;
    justify-content: center;
    align-items: center;
}