@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


html,
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: #008bd9;
  text-decoration: none;
}

li:hover {
  cursor: pointer;
  color: #2b2a2a;
  transition-duration: 50ms;
  transition-timing-function: ease-in-out;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}
